body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.custommargi{
    margin-right: 100px;
}
.custommargi1{
    margin-left: 250px;
}
input.transparent-input{
    background-color:transparent !important;
    border:none !important;
 }
 .whiteme{
    color: azure;
 }
 .custommt{
    margin-top: 15%;
 }
 .customleft{
    margin-top: 7%;
    margin-left: 48%;
    margin-bottom : 8%;
 }
 .custommt1{
    margin-top: 85%;
 }
 .customcenter{
    
    margin-left: 48%;
 }
 /* .customcenter1{
    margin-left: 23%;

 } */